
body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.gameboard-container {
    display: grid;
    justify-content: center;
}

.gameboard {
    font-size: 4rem;
    display: grid;
    grid-template-columns: 6rem 6rem 6rem;
    grid-template-rows: 6rem 6rem 6rem;
    gap: 8px;
    background-color: black;
    width: min-content;
}

.gameboard div {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: white;
}